{% load staticfiles %}
<html>
  <head>
    <title></title>
    <meta charset="utf-8">

    <style>
      body {
        padding: 0;
        margin: 0;
      }
    </style>
    <!-- <link href="./css/storeys.css" rel="stylesheet" > -->
    <link rel="stylesheet" href="{% static 'tests/css/qunit.css' %}">
    <script type="text/javascript">
      var require = {
        baseUrl: '{% static "" %}',
        config: {
          settings: {
            // settings for storeys app
          },
          'storeys/index': {
            verbose: true
          },
          'storeys/template/loader': {
            verbose: true
          },
          'storeys/core/urlresolver': {
            verbose: true
          },
          'storeys/core/handlers/base': {
            verbose: true
          }
        },
        paths: {
          'jquery' : '//code.jquery.com/jquery-1.12.1.min',
          'QUnit': '{% static "tests/libs/qunit" %}',
        },
        packages: [
          {
            name: 'storeys',
            location: '{% static "storeys/js" %}',
            main: 'index'
          }
        ],
        shim: {
          'jquery': { deps: [], exports: '$' },
          'QUnit': {
            exports: 'QUnit',
            init: function() {
              QUnit.config.autoload = false;
              QUnit.config.autostart = false;
            }
          }
        }
      }
    </script>

  </head>
  <body>
      <div id="qunit"></div>
      <div id="qunit-fixture"></div>
      <script data-main="{% static 'tests/js/main.js' %}" src="{% static 'storeys/lib/require.js' %}"
              type="text/javascript" charset="utf-8">
      </script>
      <script>
        define('settings', ['module'], function(module) {
          var config = module.config() || {},
                  instance = {};

          instance.DEFAULT_URL = '/tests/';
          instance.ROOT_URLCONF = 'tests/js/urls';
          instance.ROOT_HASHCONF = 'tests/js/hashes';
          instance.MIDDLEWARE_CLASSES = [
          ];

          instance.URL_ROOT = 'http://storeys-django-starter.herokuapp.com';
          instance.URL_API_ROOT =  instance.URL_ROOT + '/api/v1';
          instance.URL_API_LOGIN = instance.URL_API_ROOT + '/login/';
          instance.URL_API_LOGOUT = instance.URL_API_ROOT + '/logout/';
          instance.STATIC_ROOT = './';

          instance.PROJECT_APPS = [
            'tests',
            'additional_app',
            'excluded_app'
          ];

          instance.URL_LOGIN = '/accounts/login/';
          instance.URL_PENDING_ACTIVATION = '/accounts/pending/';
          instance.REDIRECT_FIELD_NAME = 'next';

          return instance;
        });

        require(['storeys', 'QUnit'], function(storeys, QUnit) {
          storeys.start();

          require(
            ['tests/js/resolve', 'tests/js/reverse', 'tests/js/templatetags/url'],
            function(test_resolve, test_reverse, test_templatetag_url) {
              storeys.start();

              QUnit.load();
              QUnit.start();

              test_resolve.run();
              test_reverse.run();
              test_templatetag_url.run();
            }
          );
        });
      </script>
      <script>
        var requireDefine = define;
        define = function redefine() {
          console.log(arguments);
          requireDefine.apply(null, arguments);
        };
      </script>

  </body>
</html>
