{% load staticfiles %}
<html>
  <head>
    <title></title>
    <meta charset="utf-8">

    <style>
      body {
        padding: 0;
        margin: 0;
      }
    </style>
    <!-- <link href="./css/storeys.css" rel="stylesheet" > -->
    <link rel="stylesheet" href="{% static 'tests/css/qunit.css' %}">
    <script type="text/javascript">
      var require = {
        baseUrl: '{% static "" %}',
        config: {
          'storeys/conf/settings': {
            settings: {
              ROOT_URLCONF: '{% static "tests/js/urls.js" %}',
              ROOT_HASHCONF: '{% static "tests/js/hashes.js" %}',
              URL_ROOT: '/',
              DEFAULT_URL: '{{ request.path }}',
              PROJECT_APPS: [
                'tests',
                'addtional_app',
                'excluded_app'
              ]
            }
          }
        },
        paths: {
          'jquery' : '//code.jquery.com/jquery-1.12.1.min',
          'QUnit': '{% static "tests/libs/qunit" %}',
        },
        packages: [
          {
            name: 'storeys',
            location: '{% static "storeys/js" %}',
            main: 'index'
          }
        ],
        shim: {
          'jquery': { deps: [], exports: '$' },
          'QUnit': {
            exports: 'QUnit',
            init: function() {
              QUnit.config.autoload = false;
              QUnit.config.autostart = false;
            }
          }
        }
      }
    </script>
  </head>
  <body>
      <div id="qunit"></div>
      <div id="qunit-fixture"></div>
      <script data-main="{% static 'storeys/js/main.js' %}" src="{% static 'storeys/lib/require.js' %}"
              type="text/javascript" charset="utf-8">
      </script>
      <script>
        require(
          ['QUnit', 'tests/js/resolve', 'tests/js/reverse', 'tests/js/templatetags/url'],
          function(QUnit, test_resolve, test_reverse, test_templatetag_url) {
            QUnit.load();
            QUnit.start();

            test_resolve.run();
            test_reverse.run();
            test_templatetag_url.run();
          }
        );
      </script>
      <!-- <script>
        // For debugging require module loading
        var requireDefine = define;
        define = function redefine() {
          console.log(arguments);
          requireDefine.apply(null, arguments);
        };
      </script> -->
  </body>
</html>
