<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name = "format-detection" content = "telephone=no" />

    <link href="{% static 'storeys/css/storeys.css' %}" rel="stylesheet" >
    {% block css %}{% endblock %}

    <script type="text/javascript">
        var require = {
          baseUrl: '{% static "" %}',
          config: {
            'storeys/conf/settings': {
              'settings': {
                ROOT_URLCONF: '{% static storeys.app_path %}urls.js',
                ROOT_HASHCONF: '{% static storeys.app_path %}hashes.js',
                URL_ROOT: '/',
                DEFAULT_URL: '{{ request.path }}',
                PROJECT_APPS: {{ settings.STOREYS_APPS | safe }}
              }
            }
          },
          paths: {
            'jquery': '//code.jquery.com/jquery-1.12.1.min'
          },
          shim: {
            'jquery': { exports: '$' },
          },
          waitSeconds: 15
        };
    </script>
    {% block pre_require_js %}{% endblock %}
    <script data-main="{% static 'storeys/js/main.js' %}" src="{% static 'storeys/lib/require.js' %}"
            type="text/javascript" charset="utf-8">
    </script>
    <script>
      var requireDefine = define;
      define = function redefine() {
        console.log(arguments);
        requireDefine.apply(null, arguments);
      };
    </script>
  </head>
  <body id="{% block bodyid %}{% endblock %}" class="storeys loading {% block bodyclasses %}{% endblock %}" {% block bodyattrs %}{% endblock %}>
    {% block content %}
      {% if prerender_content %}{% include prerender_content %}{% endif %}
    {% endblock %}
  </body>
</html>
