<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name = "format-detection" content = "telephone=no" />

    <link href="{% static 'storeys/css/storeys.css' %}" rel="stylesheet" >
    {% block css %}{% endblock %}

    <script type="text/javascript">
        var require = {
          baseUrl: '{% static "" %}',
          config: {
            'storeys/index': {
              verbose: true
            },
            'storeys/template/loader': {
              verbose: true
            },
            'storeys/core/urlresolver': {
              verbose: true
            },
            'storeys/core/handlers/base': {
              verbose: true
            },
            settings: {
              ROOT_URLCONF: '{% static "urls.js" %}',
              STATIC_ROOT: '{% static "" %}',
              URL_ROOT: '/'
            }
          },
          packages: [
            {
              name: 'storeys',
              location: 'storeys/js',
              main: 'index'
            }
          ],
          waitSeconds: 15
        };
    </script>
    {% block pre_require_js %}{% endblock %}
    <script data-main="{% static 'common/main.js' %}" src="{% static 'storeys/lib/require.js' %}"
            type="text/javascript" charset="utf-8">
    </script>
  </head>
  <body id="{% block bodyid %}{% endblock %}" class="{% block bodyclasses %}{% endblock %}" {% block bodyattrs %}{% endblock %}>
  </body>
</html>
